<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTsup</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden;
        }
        iframe {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 95%;
            border: none;
        }
    </style>
</head>
<body>
    <iframe src="http://localhost:5001/dashboard"></iframe>
</body>
</html>
{% endblock %}